In [1]:
import pandas as pd

In [8]:
df1=pd.read_csv("Content.csv")

In [9]:
df2=pd.read_csv("Reactions.csv")

In [10]:
df3=pd.read_csv("ReactionTYpes.csv")

In [11]:
df1.head()

,Unnamed: 0,Content ID,User ID,Type,Category,URL
0,0,97522e57-d9ab-4bd6-97bf-c24d952602d2,8d3cd87d-8a31-4935-9a4f-b319bfe05f31,photo,Studying,https://socialbuzz.cdn.com/content/storage/975...
1,1,9f737e0a-3cdd-4d29-9d24-753f4e3be810,beb1f34e-7870-46d6-9fc7-2e12eb83ce43,photo,healthy eating,https://socialbuzz.cdn.com/content/storage/9f7...
2,2,230c4e4d-70c3-461d-b42c-ec09396efb3f,a5c65404-5894-4b87-82f2-d787cbee86b4,photo,healthy eating,https://socialbuzz.cdn.com/content/storage/230...
3,3,356fff80-da4d-4785-9f43-bc1261031dc6,9fb4ce88-fac1-406c-8544-1a899cee7aaf,photo,technology,https://socialbuzz.cdn.com/content/storage/356...
4,4,01ab84dd-6364-4236-abbb-3f237db77180,e206e31b-5f85-4964-b6ea-d7ee5324def1,video,food,https://socialbuzz.cdn.com/content/storage/01a...

In [12]:
df2.head()

,Unnamed: 0,Content ID,User ID,Type,Datetime
0,0,97522e57-d9ab-4bd6-97bf-c24d952602d2,NaN,NaN,2021-04-22 15:17:15
1,1,97522e57-d9ab-4bd6-97bf-c24d952602d2,5d454588-283d-459d-915d-c48a2cb4c27f,disgust,2020-11-07 09:43:50
2,2,97522e57-d9ab-4bd6-97bf-c24d952602d2,92b87fa5-f271-43e0-af66-84fac21052e6,dislike,2021-06-17 12:22:51
3,3,97522e57-d9ab-4bd6-97bf-c24d952602d2,163daa38-8b77-48c9-9af6-37a6c1447ac2,scared,2021-04-18 05:13:58
4,4,97522e57-d9ab-4bd6-97bf-c24d952602d2,34e8add9-0206-47fd-a501-037b994650a2,disgust,2021-01-06 19:13:01

In [13]:
df3.head()

   Unnamed: 0        Type Sentiment  Score
0           0       heart  positive     60
1           1        want  positive     70
2           2     disgust  negative      0
3           3        hate  negative      5
4           4  interested  positive     30

In [16]:
df1.shape

(1000, 6)

In [17]:
df2.shape

(25553, 5)

In [18]:
df3.shape

(16, 4)

In [19]:
df1.isnull().sum()

Unnamed: 0      0
Content ID      0
User ID         0
Type            0
Category        0
URL           199
dtype: int64

In [24]:
df1=df1.drop('URL',axis=1)

In [25]:
df1

,Unnamed: 0,Content ID,User ID,Type,Category
0,0,97522e57-d9ab-4bd6-97bf-c24d952602d2,8d3cd87d-8a31-4935-9a4f-b319bfe05f31,photo,Studying
1,1,9f737e0a-3cdd-4d29-9d24-753f4e3be810,beb1f34e-7870-46d6-9fc7-2e12eb83ce43,photo,healthy eating
2,2,230c4e4d-70c3-461d-b42c-ec09396efb3f,a5c65404-5894-4b87-82f2-d787cbee86b4,photo,healthy eating
3,3,356fff80-da4d-4785-9f43-bc1261031dc6,9fb4ce88-fac1-406c-8544-1a899cee7aaf,photo,technology
4,4,01ab84dd-6364-4236-abbb-3f237db77180,e206e31b-5f85-4964-b6ea-d7ee5324def1,video,food
...,...,...,...,...,...
995,995,b4cef9ef-627b-41d7-a051-5961b0204ebb,5b62e10e-3c19-4d28-a57c-e9bdc3d6758d,video,public speaking
996,996,7a79f4e4-3b7d-44dc-bdef-bc990740252c,4fe420fa-a193-4408-bd5d-62a020233609,GIF,technology
997,997,435007a5-6261-4d8b-b0a4-55fdc189754b,35d6a1f3-e358-4d4b-8074-05f3b7f35c2a,audio,veganism
998,998,4e4c9690-c013-4ee7-9e66-943d8cbd27b7,b9bcd994-f000-4f6b-87fc-caae08acfaa1,GIF,culture
999,999,75d6b589-7fae-4a6d-b0d0-752845150e56,b8c653b5-0118-4d7e-9bde-07c2de90f0ff,audio,technology

In [26]:
df2.isnull().sum()

Unnamed: 0       0
Content ID       0
User ID       3019
Type           980
Datetime         0
dtype: int64

In [27]:
df2=df2.drop('User ID',axis=1)

In [28]:
df2=df2.dropna(subset=['Type'])

In [29]:
df2.isnull().sum()

Unnamed: 0    0
Content ID    0
Type          0
Datetime      0
dtype: int64

In [30]:
df1=df1.rename(columns={"Type":"ContentType"})

In [31]:
df1

,Unnamed: 0,Content ID,User ID,ContentType,Category
0,0,97522e57-d9ab-4bd6-97bf-c24d952602d2,8d3cd87d-8a31-4935-9a4f-b319bfe05f31,photo,Studying
1,1,9f737e0a-3cdd-4d29-9d24-753f4e3be810,beb1f34e-7870-46d6-9fc7-2e12eb83ce43,photo,healthy eating
2,2,230c4e4d-70c3-461d-b42c-ec09396efb3f,a5c65404-5894-4b87-82f2-d787cbee86b4,photo,healthy eating
3,3,356fff80-da4d-4785-9f43-bc1261031dc6,9fb4ce88-fac1-406c-8544-1a899cee7aaf,photo,technology
4,4,01ab84dd-6364-4236-abbb-3f237db77180,e206e31b-5f85-4964-b6ea-d7ee5324def1,video,food
...,...,...,...,...,...
995,995,b4cef9ef-627b-41d7-a051-5961b0204ebb,5b62e10e-3c19-4d28-a57c-e9bdc3d6758d,video,public speaking
996,996,7a79f4e4-3b7d-44dc-bdef-bc990740252c,4fe420fa-a193-4408-bd5d-62a020233609,GIF,technology
997,997,435007a5-6261-4d8b-b0a4-55fdc189754b,35d6a1f3-e358-4d4b-8074-05f3b7f35c2a,audio,veganism
998,998,4e4c9690-c013-4ee7-9e66-943d8cbd27b7,b9bcd994-f000-4f6b-87fc-caae08acfaa1,GIF,culture
999,999,75d6b589-7fae-4a6d-b0d0-752845150e56,b8c653b5-0118-4d7e-9bde-07c2de90f0ff,audio,technology

In [32]:
df1=df1.drop('User ID',axis=1)

In [42]:
df1.head()

,Unnamed: 0,Content ID,ContentType,Category
0,0,97522e57-d9ab-4bd6-97bf-c24d952602d2,photo,Studying
1,1,9f737e0a-3cdd-4d29-9d24-753f4e3be810,photo,healthy eating
2,2,230c4e4d-70c3-461d-b42c-ec09396efb3f,photo,healthy eating
3,3,356fff80-da4d-4785-9f43-bc1261031dc6,photo,technology
4,4,01ab84dd-6364-4236-abbb-3f237db77180,video,food

In [38]:
df1.dtypes

Unnamed: 0      int64
Content ID     object
ContentType    object
Category       object
dtype: object

In [44]:
df1["Category"]=df1["Category"].replace('"',' ',regex=True)

In [45]:
df1.head(60)

,Unnamed: 0,Content ID,ContentType,Category
0,0,97522e57-d9ab-4bd6-97bf-c24d952602d2,photo,Studying
1,1,9f737e0a-3cdd-4d29-9d24-753f4e3be810,photo,healthy eating
2,2,230c4e4d-70c3-461d-b42c-ec09396efb3f,photo,healthy eating
3,3,356fff80-da4d-4785-9f43-bc1261031dc6,photo,technology
4,4,01ab84dd-6364-4236-abbb-3f237db77180,video,food
5,5,cf1e8c1a-23eb-4426-9f58-002fb1b53e91,GIF,cooking
6,6,3f8590c7-6ab2-4973-805a-90cdec355f05,video,dogs
7,7,e5490118-90d5-4572-ab1c-1fbc87b8d9ca,video,technology
8,8,0bedca96-fb76-4287-a83c-17330ed39cce,photo,soccer
9,9,b18cb63f-4c8e-44ee-a47f-541e95191d11,photo,public speaking
10,10,5118e9c5-1377-4cc5-a486-65b35b7b7b76,GIF,science
11,11,46fb701d-6c26-458e-ada3-2ebe5dbba01f,audio,public speaking
12,12,0be59876-d70c-486c-8e0b-a06bef7a2cd6,GIF,tennis
13,13,81abd65a-3b76-4574-a0a7-db6bf7184ae2,video,food
14,14,e6ee2244-9382-49a9-8cbf-fa54aaaa2392,audio,travel
15,15,7ffd0a82-4a0a-4527-a4d6-e251b756bac7,GIF,fitness
16,16,f332d362-dc48-46c2-a64b-641157c0987e,GIF,soccer
17,17,a2e93b29-9259-4092-a4d7-62d5e823bb74,video,public speaking
18,18,9b3a6d30-48e8-476c-82be-9031524bd04d,video,food
19,19,850fe90d-47d6-4eb7-b9c8-810afcb99ce9,video,tennis
20,20,baa2db00-81ba-4c34-b17d-dd950bfa133b,GIF,soccer
21,21,f98dde71-ce1d-4f6c-bb05-ae05779d2207,GIF,soccer
22,22,388bd9db-9d10-4f47-87c4-6db46e83bc95,video,education
23,23,78d0075f-895c-4a15-a35c-a921e2bb2cea,photo,studying
24,24,bda0b065-7f8b-4d52-b7e9-fcc375cdab08,photo,travel
25,25,a4067fb5-3ba8-4f97-87c2-ddad5e4029c2,GIF,food
26,26,809b41e3-7a6f-4d80-84bf-f8d7b0e2d0e1,audio,dogs
27,27,34a3747a-0b77-42f6-ae19-87c38b94b674,GIF,science
28,28,2920dccb-e06f-49fc-8049-b6d4164dfe84,GIF,veganism
29,29,f4e3840e-bb71-40c2-afc5-9408d842646d,photo,healthy eating
30,30,a2ff9bf2-1fa6-4001-9566-f597f8e754ef,video,food
31,31,74718bbf-e5a3-442f-8ca2-4a3428757fc1,video,dogs
32,32,89fd8f89-807f-4076-b7e7-84db361e11c1,audio,studying
33,33,02fa1c4f-722d-46d2-a85e-e5b136b5f3bc,video,cooking
34,34,eec5e521-4c28-4e8a-93a9-d544803fad7e,audio,food
35,35,07f88a73-aef2-45fd-8b5d-418e448b853d,GIF,Animals
36,36,49367a0f-1fd5-4417-a7c9-4a154e1ae0ad,photo,technology
37,37,457301ee-3e87-40d8-8b82-ea4e1fa90e39,GIF,healthy eating
38,38,4fa14453-7b29-4302-b51f-9aa23b472c1b,audio,animals
39,39,16757b80-2803-4464-b5d7-e372d8d77337,GIF,technology
40,40,ab4c4756-1c50-4136-bad9-3216e01ffac2,audio,fitness
41,41,4478d98e-43e8-4dc0-884d-c1115aa8b970,audio,animals
42,42,34f73132-fff6-4f01-a5ec-4b4b66461fc7,photo,fitness
43,43,bfa4e11c-9d72-49b9-bd43-49d95c2e5181,photo,veganism
44,44,220d9dc1-f8a5-422d-b200-3819f3b89b2b,video,dogs
45,45,ea1afba2-c0a8-4d0f-ac64-91fd7a126bbc,GIF,healthy eating
46,46,18b4da8a-5f22-4dbe-b2af-c9013581cdd9,GIF,studying
47,47,259cd56f-b017-4a41-81a7-f26ce9b35092,video,culture
48,48,14ed7f7b-2c96-4458-8a39-606c25c14180,video,tennis
49,49,c01fa154-5348-4040-9d20-0bbf01f6349b,GIF,tennis
50,50,2d949603-6676-4402-900b-2c2c78315ea0,audio,culture
51,51,50c9237a-541c-4f10-a2be-7cbe076b2012,GIF,travel
52,52,5ecd7f9d-4184-4836-b1c5-f03e131ba0a7,video,science
53,53,e442899c-d2d6-4392-be2d-a0b916ae47fb,video,technology
54,54,daab7b1a-fc8d-473e-bbf3-b29f4185ae56,video,science
55,55,82145a60-013e-4d96-81a5-399af8618158,audio,food
56,56,d852b946-01e1-44fe-abd7-26198660cbdb,GIF,food
57,57,9dd95c34-8b39-4776-a232-412512329c3f,audio,fitness
58,58,c59e27e9-0439-4699-8ea0-5e93f662a05d,GIF,fitness
59,59,78713905-362f-4a87-9671-adab5f1e0e67,audio,dogs

In [46]:
df1.to_csv("Updatedcontent.csv",index=False)

In [47]:
df2.to_csv("Updatedreaction.csv",index=False)

In [48]:
df3.to_csv("Updatedreactiontypes.csv",index=False)

In [49]:
df1

,Unnamed: 0,Content ID,ContentType,Category
0,0,97522e57-d9ab-4bd6-97bf-c24d952602d2,photo,Studying
1,1,9f737e0a-3cdd-4d29-9d24-753f4e3be810,photo,healthy eating
2,2,230c4e4d-70c3-461d-b42c-ec09396efb3f,photo,healthy eating
3,3,356fff80-da4d-4785-9f43-bc1261031dc6,photo,technology
4,4,01ab84dd-6364-4236-abbb-3f237db77180,video,food
...,...,...,...,...
995,995,b4cef9ef-627b-41d7-a051-5961b0204ebb,video,public speaking
996,996,7a79f4e4-3b7d-44dc-bdef-bc990740252c,GIF,technology
997,997,435007a5-6261-4d8b-b0a4-55fdc189754b,audio,veganism
998,998,4e4c9690-c013-4ee7-9e66-943d8cbd27b7,GIF,culture
999,999,75d6b589-7fae-4a6d-b0d0-752845150e56,audio,technology

In [50]:
df2

,Unnamed: 0,Content ID,Type,Datetime
1,1,97522e57-d9ab-4bd6-97bf-c24d952602d2,disgust,2020-11-07 09:43:50
2,2,97522e57-d9ab-4bd6-97bf-c24d952602d2,dislike,2021-06-17 12:22:51
3,3,97522e57-d9ab-4bd6-97bf-c24d952602d2,scared,2021-04-18 05:13:58
4,4,97522e57-d9ab-4bd6-97bf-c24d952602d2,disgust,2021-01-06 19:13:01
5,5,97522e57-d9ab-4bd6-97bf-c24d952602d2,interested,2020-08-23 12:25:58
...,...,...,...,...
25548,25548,75d6b589-7fae-4a6d-b0d0-752845150e56,dislike,2020-06-27 09:46:48
25549,25549,75d6b589-7fae-4a6d-b0d0-752845150e56,intrigued,2021-02-16 17:17:02
25550,25550,75d6b589-7fae-4a6d-b0d0-752845150e56,interested,2020-09-12 03:54:58
25551,25551,75d6b589-7fae-4a6d-b0d0-752845150e56,worried,2020-11-04 20:08:31
25552,25552,75d6b589-7fae-4a6d-b0d0-752845150e56,cherish,2021-01-04 04:55:11

In [51]:
df3

    Unnamed: 0         Type Sentiment  Score
0            0        heart  positive     60
1            1         want  positive     70
2            2      disgust  negative      0
3            3         hate  negative      5
4            4   interested  positive     30
5            5  indifferent   neutral     20
6            6         love  positive     65
7            7   super love  positive     75
8            8      cherish  positive     70
9            9        adore  positive     72
10          10         like  positive     50
11          11      dislike  negative     10
12          12    intrigued  positive     45
13          13      peeking   neutral     35
14          14       scared  negative     15
15          15      worried  negative     12

In [52]:
merged=pd.merge(df1,df2,on="Content ID")

In [53]:
merged

,Unnamed: 0_x,Content ID,ContentType,Category,Unnamed: 0_y,Type,Datetime
0,0,97522e57-d9ab-4bd6-97bf-c24d952602d2,photo,Studying,1,disgust,2020-11-07 09:43:50
1,0,97522e57-d9ab-4bd6-97bf-c24d952602d2,photo,Studying,2,dislike,2021-06-17 12:22:51
2,0,97522e57-d9ab-4bd6-97bf-c24d952602d2,photo,Studying,3,scared,2021-04-18 05:13:58
3,0,97522e57-d9ab-4bd6-97bf-c24d952602d2,photo,Studying,4,disgust,2021-01-06 19:13:01
4,0,97522e57-d9ab-4bd6-97bf-c24d952602d2,photo,Studying,5,interested,2020-08-23 12:25:58
...,...,...,...,...,...,...,...
24568,999,75d6b589-7fae-4a6d-b0d0-752845150e56,audio,technology,25548,dislike,2020-06-27 09:46:48
24569,999,75d6b589-7fae-4a6d-b0d0-752845150e56,audio,technology,25549,intrigued,2021-02-16 17:17:02
24570,999,75d6b589-7fae-4a6d-b0d0-752845150e56,audio,technology,25550,interested,2020-09-12 03:54:58
24571,999,75d6b589-7fae-4a6d-b0d0-752845150e56,audio,technology,25551,worried,2020-11-04 20:08:31
24572,999,75d6b589-7fae-4a6d-b0d0-752845150e56,audio,technology,25552,cherish,2021-01-04 04:55:11

In [54]:
final=pd.merge(merged,df3,on="Type")

In [55]:
final

,Unnamed: 0_x,Content ID,ContentType,Category,Unnamed: 0_y,Type,Datetime,Unnamed: 0,Sentiment,Score
0,0,97522e57-d9ab-4bd6-97bf-c24d952602d2,photo,Studying,1,disgust,2020-11-07 09:43:50,2,negative,0
1,0,97522e57-d9ab-4bd6-97bf-c24d952602d2,photo,Studying,4,disgust,2021-01-06 19:13:01,2,negative,0
2,0,97522e57-d9ab-4bd6-97bf-c24d952602d2,photo,Studying,35,disgust,2021-04-09 02:46:20,2,negative,0
3,1,9f737e0a-3cdd-4d29-9d24-753f4e3be810,photo,healthy eating,52,disgust,2021-03-28 21:15:26,2,negative,0
4,2,230c4e4d-70c3-461d-b42c-ec09396efb3f,photo,healthy eating,88,disgust,2020-08-04 05:40:33,2,negative,0
...,...,...,...,...,...,...,...,...,...,...
24568,997,435007a5-6261-4d8b-b0a4-55fdc189754b,audio,veganism,25489,adore,2020-10-04 22:26:33,9,positive,72
24569,997,435007a5-6261-4d8b-b0a4-55fdc189754b,audio,veganism,25491,adore,2020-09-18 10:50:50,9,positive,72
24570,998,4e4c9690-c013-4ee7-9e66-943d8cbd27b7,GIF,culture,25512,adore,2020-10-31 03:58:44,9,positive,72
24571,998,4e4c9690-c013-4ee7-9e66-943d8cbd27b7,GIF,culture,25524,adore,2020-06-25 15:12:29,9,positive,72
24572,998,4e4c9690-c013-4ee7-9e66-943d8cbd27b7,GIF,culture,25531,adore,2020-12-17 16:32:57,9,positive,72

In [65]:
l=final.groupby('Category')['Score'].sum()

In [68]:
l.nlargest(5)

Category
animals           69548
healthy eating    69067
technology        67472
science           66043
cooking           63982
Name: Score, dtype: int64

In [71]:
l.to_csv("result.csv")